<nav>
    <div class="site header"> 
        <h1>BeSpoked Bikes Sales</h1>
        <p>Sales Management System</p>
    </div>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/salespeople">Salespeople</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/sales">Sales</a></li>
            <li><a href="/report">Quarterly Report</a></li>
          </ul>
    </div>
</nav>