<%- include("./partials/head.ejs") %>

<body>
<%- include("./partials/nav.ejs") %>
<p></p>
<h2>Welcome to the BeSpoked Bikes Sales Managment System!</h2>

<p>Please access any relevant pages at the top.</p>

</body>